@font-face {
  font-family: 'Raleway', sans-serif;
  src:
    local('Raleway'),
    local('Raleway Regular'),
    local('Ralewayregular'),
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src:
    local('Raleway'),
    local('Raleway Medium'),
    local('Ralewaymedium'),
    url(./Raleway-Medium.woff2) format('woff2'),
    url(./Raleway-Medium.woff) format('woff');
  font-weight:500;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src:
    local('Raleway'),
    local('Raleway Bold'),
    local('Ralewaybold'),
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: 700;
  font-display: swap;
}


