.button {
  border:0;
  padding:0;
  color:inherit;
  font-family: "Raleway", sans-serif;
  background-color: transparent;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
  align-items: center;
  width: 100%;
  padding: 92px 24px 96px;
  background-color: #fff;
}

.menu {
  font-weight: 400;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 31px;
  padding: 43px 22px 39px 26px;
  list-style-position: outside;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.menu-link {
  border-bottom: 1px #000 solid;
  letter-spacing: 0.25px;
  text-decoration: none;
  scroll-behavior: smooth;
  
}

.menu-link:hover {
  border-radius: 5px;
  border-bottom:none;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .3s linear;
}

.menu-link_active {
  border-bottom:none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 104px;
}

.header__address {
  justify-self: start;
  padding:7px 26px 2px 187px;
}

.address {
  font-size:18px;
  font-style:normal;
  line-height: 1.36;
}

.address__link {
  text-underline-offset:4px;
}

.address__link:hover {
  border-radius: 5px;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .3s linear;
}

.address__street {
  letter-spacing: 0.05px;
}

/* cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:135px;
  padding: 165px 24px 51px 24px;
  color:#fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.cover__title {
  position: relative;
  z-index: 200;
  padding:0 0px 0 27px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text{
  display: block;
  line-height: 1.16;
  letter-spacing:31px;
}

.aligned-text_left{
  word-spacing: -27px;
}

.aligned-text_center {
  line-height: 1.4;
  letter-spacing:5px;
  text-align: center;
}

.aligned-text_center_first {
  letter-spacing:31px;
}

.aligned-text_center_last {
  letter-spacing:85px;
}


.aligned-text_right {
  line-height: 1;
  letter-spacing:0px;
  text-align: right;
} 

.aligned-text_right_first {
  letter-spacing:37px;
}

.aligned-text_right_last {
  letter-spacing:28px;
}

.cover__description {
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 25px 0 55px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  border:1px solid #fff;
  padding:12px 32px 11px 32px;
  font-weight: 400;
  font-size:22px;
  text-transform: uppercase;
  cursor: pointer;
}

.bet-button:hover{
  color:#000;
  background-color: #fff;
  transition-duration: .3s;
}

/* lots */

.lots {
  padding:177px 24px 146px;
  background-color: #fff;
}

.lots__heading {
  padding-left:40px;
}

.lots__heading:not(:last-child) {
  margin-bottom: 27px;
}

.heading{
  font-weight: 700;
  font-size:40px;
  text-transform: uppercase;
}

.lots__card-list {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  color:#fff;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow:1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding:51px 40px 48px 40px;
  line-height: 1.2;
  letter-spacing:0.2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 100;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 100;
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin-top: 29px;
  margin-left: 40px;
  color:#000;
  font-weight: 400;
  font-size:20px;
  text-underline-offset: 5px;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap:20px;
  padding:36px 24px 180px;   
}

.about__column_for-logo {
  justify-self: center;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__column_for-text {
  display: grid;
  grid-template-rows: 240px 1fr;
  padding-top:4px;
}

.about__title {
  align-self: center;
  padding:1px 0 0 5px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap:24px;
 
  padding: 5px 0 0 6px;
  font-weight: 400;
  font-size:20px;
  line-height: 1.2;
  letter-spacing: 0.04px;
 }

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 105px;
  align-items: start;
  padding:0 50px 88px 50px;
}

.footer__address {
  padding-left:1px;
}

.footer__menu {
  justify-self:center;
  align-self: self-start;
 
}

.footer__menu-list {
  line-height: 1.17;
  text-align: center;
  list-style-type: none;
  
}

.footer__menu-link {
  border-bottom: none;
  text-decoration: underline;
  text-underline-offset:4px;
}

.footer__menu-link.menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap:48px;
  list-style-type: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
.footer__social-link:hover .footer__social-icon {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .4s ease-in-out;
}

.footer__social-image {
  width:48px;
  height: 48px;
}


